*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

.wrapper{
  max-width: 1300px;
  padding: 0px 20px;
  margin: 0px auto;
}

header{
  background-color: #3366FF;
  padding: 20px 0px;
  margin-bottom: 20px;
}

.header__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  color: #f7f7f7;
}


.s-basket__min {
  cursor: pointer;
  padding: 10px 20px;
  background: #6ba2c6;
  border: none;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  line-height: 1;
}

.s-basket__min svg{
  margin-right: 5px;
}



.product{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.product__element{
  border: 1px solid #c7c7c7;
  padding: 10px;
  width: 24%;
  margin-bottom: 10px;
}

.product__images{
  margin-bottom: 10px;
}

.product__img{
  display: block;
  margin: 0px auto;
  max-width: 200px;
  height: auto;
}


.product__name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.product__price {
  text-align: center;
  margin-bottom: 20px;
}

.product__btn{
  display: flex;
  align-items: center;
}

.product__quantity{
  width: 40%;
  display: flex;
  align-items: center;
}

.c-basket__remove-item,
.c-basket__add-item{
  width: 40px;
  height: 30px;
  border: 1px solid #c7c7c7;
  background-color: #FFF;
  color: #333;
}

.c-basket__remove-item{
  margin-right: 3px;
}

.c-basket__add-item{
  margin-left: 3px;
}

.c-basket__product-quantity-state{
  width: 100%;
  height: 30px;
  text-align: center;
  border: 1px solid #c7c7c7;
}

.product__add-to-cart-button{
  margin-left: auto;
  cursor: pointer;
  background: #3598dc;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  line-height: 1;
  height: 30px;
  padding: 0 30px;
}

.product__add-to-cart-button svg{
  margin-right: 5px;
}
















/*
* Модальное окно о том что добавлен в корзину
*/
.modal__container[data-graph-target="product-add-cart"] {
  width: 100%;
  max-width: 500px;
  padding: 20px 30px;
}
.c-basket__alert {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.c-basket__alert-icon{
  margin-bottom: 30px;
}

.c-basket__alert-text{
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}

.c-basket__alert-footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-basket__alert-button{
  height: 50px;
  border: none;
  -webkit-appearance: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  width: 48%;
}

.c-basket__alert-button_by{
  background: #1bbc9b;
}

.c-basket__alert-button_close {
  background: #3598dc;
}


/*
* Модальное окно с корзиной
*/
.modal__container[data-graph-target="cart"] {
  padding: 10px;
}

.s-basket__product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
}

.s-basket__product-name {
  width: 100%;
  max-width: 360px;
  padding: 10px 0 10px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.s-basket__product-price {
  width: 100%;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  position: relative;
}


.s-basket__product-quantity {
  width: 100%;
  max-width: 130px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-basket__product-price-common {
  width: 100%;
  max-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.s-basket__product-delete {
  width: 100%;
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 10px;
  background: 0 0;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.s-basket__delete-icon {
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e94e3c;
}

.s-basket__result-common {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 15px;
  font-weight: 700;
  border-bottom: 1px dashed #d2d2d2;
}
.s-basket__empty-title, .s-basket__success-title {
  width: calc(100% + 30px);
  padding: 50px 15px 80px;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px dashed #d2d2d2;
  margin: 0 -15px 30px;
}

.s-basket__empty-title {
  color: #e94e3c;
}

.s-basket__total-cost {
  width: 105px;
  text-align: right;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  pointer-events: none;
}


.s-basket__user-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.s-basket__input-wrapper {
  width: 33%;
  padding-bottom: 0;
  border-radius: 3px;
  transition: .5s;
  margin-bottom: 15px;
}

.s-basket__textarea-wrapper,
.s-basket__file-wrapper{
  width: 100%;
}

.s-basket__user-input {
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  -webkit-appearance: none;
  outline: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: relative;
}

.s-basket__agreement-wrapper{
  display: flex;
  align-items: center;
}

.smart-basket__link-agreement {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}


.s-basket__footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
}

.s-basket__close-form {
  background: #3598dc;
  border: none;
  padding: 15px 25px;
  color: #fff;
  font-size: 16px;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 30px;
}

.s-basket__send-form {
  background: #1bbc9b;
  border: none;
  padding: 15px 25px;
  color: #fff;
  font-size: 16px;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 3px;
}



.modal__container{
  border-radius: 3px;
  padding: 40px;
}





.l-cart{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #3366FF;
  color: #FFF;
  border-radius: 2px;
  padding: 5px;
  max-width: 80px;
}

.l-cart .l-cart__icon{
  margin-right: 5px;
}



.cart__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.input__cart-count{
  width: 100%;
}